<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="User" class="com.osc.mc.me.model.User" init-method="init"/>

    <bean id="userType" class="com.osc.mc.me.model.UserTypes" >
        <property name="userTypes">
            <list>
                <value>Admin</value>
                <value>User</value>
                <value>Mod</value>
                <value>Anonymous</value>
            </list>
        </property>
    </bean>

    <bean id="gadget" class="com.osc.mc.me.model.Gadget">
        <constructor-arg value="Whatever..."/>
    </bean>

    <bean id="LoginSpringAction" class="com.osc.mc.me.action.Login">
    </bean>

    <bean id="RegisterSpringAction" class="com.osc.mc.me.action.Register">
    </bean>
</beans>